[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab
indent_size = 4
tab_width = 4
ij_go_import_sorting = goimports
ij_go_move_all_imports_in_one_declaration = true
ij_go_group_stdlib_imports = true
ij_go_move_all_stdlib_imports_in_one_group = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2
tab_width = 2